.home{
    min-height: 100vh;
    width: 100vw;
    /* border: 1px solid red; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
}

.home .left{
    width: 20%;
    /* border: 1px solid green; */
}

.home .left .bio{
    border-radius: 7px;
    /* width: 95%; */
    background-color: rgba(0, 0, 0, 0.288);
    padding: 10px;
}

.home .center{
    width: 55%;
    /* border: 1px solid blue; */
}

.home .right{
    width: 25%;
    /* border: 1px solid green; */
}

.home .right .heading{
    width: 100%;
    /* border: 1px solid green; */
}

.home .right .profiles{
    display: flex;
}

.home .right .profiles img{
    height: 30px;
    width: 30px;
    border-radius: 100%;
}

.home .right .profiles a{
    margin-left: 15px;
}

.home .right .profiles button{
    border: none;
    outline: none;
    background: none;
    color: rgba(0, 0, 255, 0.685);
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
}


/* media query */
@media (max-width: 600px){
    .home{
        flex-direction: column;
    }

    .home .left,
    .home .center,
    .home .right{
        width: 100%;
    }
}